@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@mixin blinking($duration: 1s) {
    animation: blink $duration infinite;
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}

:root {
    --yasl-identifier-color: #7bfbdd;
    --yasl-symbol-color: #e81111;
    --yasl-operator-color: #d996ff;
    --yasl-keyword-color: #e4ab85;
    --yasl-whitespace-color: #fff;
    --yasl-string-color: #a8ff8d;
    --yasl-repl-border-radius: 10px;
    --yasl-editor-font-size: 1rem;
    --yasl-caret-color: #fff;
}

.yasl-editor {
    caret-color: transparent !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    outline: none;
    font-family: "JetBrains Mono", monospace;
    font-size: var(--yasl-editor-font-size);
    overflow: scroll;

    * {
        box-sizing: border-box;
        font-family: "JetBrains Mono", monospace;
        font-size: var(--yasl-editor-font-size);
    }

    &:focus .caret {
        display: block;
    }

    .caret {
        display: none;
        position: absolute;
        top: 0;
        left: 0;

        width: 3px;
        height: 1em;
        background: var(--yasl-caret-color);
        @include blinking();
    }

    .yasl-editor-content {
        width: 100%;
        height: 100%;
    }


    .identifier {
        color: var(--yasl-identifier-color);

    }

    .whitespace {
        color: var(--yasl-whitespace-color);
        white-space: pre;
    }

    .keyword {
        color: var(--yasl-keyword-color);
    }

    .operator {
        color: var(--yasl-operator-color);
    }

    .string {
        color: var(--yasl-string-color);
    }

    .number {
        color: var(--yasl-string-color);
    }

    .symbol {
        color: var(--yasl-symbol-color);
    }


}


