@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@mixin blinking($duration: 1s) {
    animation: blink $duration infinite;
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}

:root {
    --yasl-editor-bg: rgba(255, 255, 255, 0.03);
    --yasl-row-active-bg: rgba(255, 255, 255, 0.03);
    --yasl-text-color: #a6a6a6;

    --yasl-editor-selection-color: rgba(70, 136, 255, 0.42);

    --yasl-identifier-color: #7bfbdd;
    --yasl-symbol-color: #dccaca;
    --yasl-operator-color: var(--yasl-text-color);
    --yasl-comment-color: #616161;
    --yasl-keyword-color: #e4ab85;
    --yasl-whitespace-color: #fff;
    --yasl-string-color: #a8ff8d;
    --yasl-error-color: #ef4848;

    --yasl-repl-border-radius: 10px;
    --yasl-editor-font-size: 1rem;
    --yasl-caret-color: #fff;
    --yasl-loader-bg: rgb(53, 53, 53);
    --yasl-editor-line-height: 2;

}

.yasl-editor-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    user-select: none;
    background: var(--yasl-editor-bg);

    * {
        line-height: var(--yasl-editor-line-height);
        box-sizing: border-box;
        font-family: "JetBrains Mono", monospace;
        font-size: var(--yasl-editor-font-size);
        user-select: none;
    }
}

.yasl-editor-gutter {
    width: fit-content;
    padding-right: 1.5em;
    padding-left: 0.5em;
}

.yasl-editor {
    caret-color: transparent !important;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    outline: none;
    font-family: "JetBrains Mono", monospace;
    overflow: scroll;
    cursor: text;
    line-height: var(--yasl-editor-line-height);


    .yasl-ide-loader {
        width: 100%;
        height: 100%;
        background: var(--yasl-loader-bg);
        position: absolute;
        z-index: 1;
        opacity: 1;
        transition: opacity 100ms linear, visibility 150ms linear;
    }

    &.ready {
        pointer-events: auto;

        .yasl-ide-loader {
            opacity: 0;
            visibility: hidden;
        }
    }


    &:focus .caret {
        display: block;
    }

    .caret {
        display: none;
        position: absolute;
        top: 0;
        left: 0;

        width: 3px;
        height: 1em;
        background: var(--yasl-caret-color);
        will-change: opacity, top, left;
        transition: top 50ms linear, left 50ms linear;
        @include blinking();

        &.typing {
            animation: none;
        }
    }

    .yasl-ide-selection-el {
        background-color: var(--yasl-editor-selection-color);
        position: absolute;
    }

    .yasl-editor-rows-wrapper {
        min-width: fit-content;
        height: fit-content;

        .yasl-editor-row {
            position: relative;
            min-width: 100%;
            width: max-content;
            height: min-content;
            outline: none;

            min-height: var(--yasl-editor-font-size);
            padding: 0;
            white-space: pre;
            align-content: center;

            &.active {
                background: var(--yasl-row-active-bg);
            }

            .identifier {
                color: var(--yasl-identifier-color);

            }

            .whitespace {
                opacity: 0.1;
                color: var(--yasl-whitespace-color);
            }

            .keyword {
                color: var(--yasl-keyword-color);
            }

            .operator {
                color: var(--yasl-operator-color);
            }

            .string {
                color: var(--yasl-string-color);
            }

            .number {
                color: var(--yasl-string-color);
            }

            .comment {
                color: var(--yasl-comment-color);
            }

            .symbol {
                color: var(--yasl-symbol-color);
            }

            .error {
                color: var(--yasl-error-color);
            }
        }

    }

}


