@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@mixin blinking($duration: 1s) {
    animation: blink $duration infinite;
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}

:root {
    --yasl-editor-selection-color: rgba(70, 136, 255, 0.42);
    --yasl-identifier-color: #7bfbdd;
    --yasl-symbol-color: #e81111;
    --yasl-operator-color: #d996ff;
    --yasl-keyword-color: #e4ab85;
    --yasl-whitespace-color: #fff;
    --yasl-string-color: #a8ff8d;
    --yasl-repl-border-radius: 10px;
    --yasl-editor-font-size: 1rem;
    --yasl-caret-color: #fff;
    --yasl-loader-bg: rgb(53, 53, 53);
}

.yasl-editor {
    caret-color: transparent !important;
    width: fit-content;
    min-width: 100%;
    min-height: 100%;
    height: fit-content;
    padding: 0;
    display: flex;
    flex-direction: column;
    outline: none;
    font-family: "JetBrains Mono", monospace;
    font-size: var(--yasl-editor-font-size);
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    .yasl-ide-loader {
        width: 100%;
        height: 100%;
        background: var(--yasl-loader-bg);
        position: absolute;
        z-index: 1;
        opacity: 1;
        transition: opacity 100ms linear, visibility 150ms linear;
    }

    &.ready {
        pointer-events: auto;

        .yasl-ide-loader {
            opacity: 0;
            visibility: hidden;
        }
    }
    * {
        box-sizing: border-box;
        font-family: "JetBrains Mono", monospace;
        font-size: var(--yasl-editor-font-size);
    }

    &:focus .caret {
        display: block;
    }

    .caret {
        position: absolute;
        top: 0;
        left: 0;

        width: 3px;
        height: 1em;
        background: var(--yasl-caret-color);
        @include blinking();

        &.typing {
            animation: none;
        }
    }

    .yasl-ide-selection-el {
        background-color: var(--yasl-editor-selection-color);
        position: absolute;
    }
    .yasl-editor-row {
        width: 100%;
        height: min-content;
        outline: none;

        background: rgba(0, 0, 0, 0.22);
        min-height: var(--yasl-editor-font-size);
        min-width: 100%;
        padding: 0;
        white-space: pre;

        &:focus {
            background: rgba(0, 0, 0, 0.42);
        }
        .identifier {
            color: var(--yasl-identifier-color);

        }

        .whitespace {
            color: var(--yasl-whitespace-color);
        }

        .keyword {
            color: var(--yasl-keyword-color);
        }

        .operator {
            color: var(--yasl-operator-color);
        }

        .string {
            color: var(--yasl-string-color);
        }

        .number {
            color: var(--yasl-string-color);
        }

        .symbol {
            color: var(--yasl-symbol-color);
        }
    }





}


