@import url(colors.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
canvas{
    height:100dvh;
    width: 100%;
    overscroll-behavior: contain;
    background-color: var(--canvas-bg-default-color);
    /*display: none;*/
}
body{
    background-color: var(--surface-bg-color);
}
.visualizer-container {
    width: 100dvw;
    height: 100dvw;
    display: grid;
    grid-template-columns: 50% 1fr;
}
.visualizer-data{
    resize: horizontal;

}
/*}*/
/*#visualizer-data{*/
/*    position: fixed;*/
/*    z-index: 100;*/
/*    top: 0;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #3c3c3c;*/
/*}*/