@import url(colors.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-on-background-color);
}
canvas{
    overscroll-behavior: contain;
    background-color: var(--canvas-bg-default-color);
    height: 100%;
    width: 100%;
    /*display: none;*/
}
body{
    background-color: var(--surface-bg-color);
}

#heading {
    text-align: center;
}
#slider {
    width: 10px;
    background-color: var(--slider-color);
    cursor: ew-resize;
}
.visualizer-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    max-width: 100vw;
    overflow: hidden;
}

#canvas-container, #visualizer-data {
    min-width: 10vw;
    width: 50%;
    flex-grow: 1;
    height: 100lvh;
    border: 1px #002ada dot-dash;
    /*flex: none;*/
    /*width: 50%;*/



}
/*}*/
/*#visualizer-data{*/
/*    position: fixed;*/
/*    z-index: 100;*/
/*    top: 0;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #3c3c3c;*/
/*}*/