.dark-medium-contrast {
    --md-sys-color-background: rgb(19 19 24);
    --md-sys-color-error: rgb(255 210 204);
    --md-sys-color-error-container: rgb(255 84 73);
    --md-sys-color-inverse-on-surface: rgb(42 41 47);
    --md-sys-color-inverse-primary: rgb(63 67 122);
    --md-sys-color-inverse-surface: rgb(228 225 233);
    --md-sys-color-on-background: rgb(228 225 233);
    --md-sys-color-on-error: rgb(84 0 3);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-on-primary: rgb(28 31 85);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-on-primary-fixed: rgb(5 7 65);
    --md-sys-color-on-primary-fixed-variant: rgb(45 49 103);
    --md-sys-color-on-secondary: rgb(35 36 54);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-on-secondary-fixed: rgb(14 16 33);
    --md-sys-color-on-secondary-fixed-variant: rgb(52 53 72);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-on-surface-variant: rgb(221 219 230);
    --md-sys-color-on-tertiary: rgb(57 27 48);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-on-tertiary-fixed: rgb(34 7 27);
    --md-sys-color-on-tertiary-fixed-variant: rgb(76 44 65);
    --md-sys-color-outline: rgb(178 177 187);
    --md-sys-color-outline-variant: rgb(144 143 153);
    --md-sys-color-primary: rgb(217 217 255);
    --md-sys-color-primary-container: rgb(136 140 200);
    --md-sys-color-primary-fixed: rgb(224 224 255);
    --md-sys-color-primary-fixed-dim: rgb(190 194 255);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-secondary: rgb(219 218 243);
    --md-sys-color-secondary-container: rgb(143 143 166);
    --md-sys-color-secondary-fixed: rgb(225 224 249);
    --md-sys-color-secondary-fixed-dim: rgb(197 196 221);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-surface: rgb(19 19 24);
    --md-sys-color-surface-bright: rgb(68 68 74);
    --md-sys-color-surface-container: rgb(39 39 45);
    --md-sys-color-surface-container-high: rgb(50 50 56);
    --md-sys-color-surface-container-highest: rgb(61 61 67);
    --md-sys-color-surface-container-low: rgb(29 29 35);
    --md-sys-color-surface-container-lowest: rgb(7 7 12);
    --md-sys-color-surface-dim: rgb(19 19 24);
    --md-sys-color-surface-tint: rgb(190 194 255);
    --md-sys-color-surface-variant: rgb(70 70 79);
    --md-sys-color-tertiary: rgb(255 207 235);
    --md-sys-color-tertiary-container: rgb(174 132 158);
    --md-sys-color-tertiary-fixed: rgb(255 216 238);
    --md-sys-color-tertiary-fixed-dim: rgb(232 185 213);
}
