.light-high-contrast {
    --md-sys-color-background: rgb(251 248 255);
    --md-sys-color-error: rgb(96 0 4);
    --md-sys-color-error-container: rgb(152 0 10);
    --md-sys-color-inverse-on-surface: rgb(255 255 255);
    --md-sys-color-inverse-primary: rgb(190 194 255);
    --md-sys-color-inverse-surface: rgb(48 48 54);
    --md-sys-color-on-background: rgb(27 27 33);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-on-surface: rgb(0 0 0);
    --md-sys-color-on-surface-variant: rgb(0 0 0);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-outline: rgb(43 43 52);
    --md-sys-color-outline-variant: rgb(73 72 81);
    --md-sys-color-primary: rgb(34 38 92);
    --md-sys-color-primary-container: rgb(64 68 123);
    --md-sys-color-primary-fixed: rgb(64 68 123);
    --md-sys-color-primary-fixed-dim: rgb(41 45 99);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-secondary: rgb(42 43 61);
    --md-sys-color-secondary-container: rgb(71 72 92);
    --md-sys-color-secondary-fixed: rgb(71 72 92);
    --md-sys-color-secondary-fixed-dim: rgb(48 49 68);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-surface: rgb(251 248 255);
    --md-sys-color-surface-bright: rgb(251 248 255);
    --md-sys-color-surface-container: rgb(228 225 233);
    --md-sys-color-surface-container-high: rgb(214 211 219);
    --md-sys-color-surface-container-highest: rgb(200 197 205);
    --md-sys-color-surface-container-low: rgb(242 239 247);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(186 184 191);
    --md-sys-color-surface-tint: rgb(85 89 146);
    --md-sys-color-surface-variant: rgb(228 225 236);
    --md-sys-color-tertiary: rgb(65 34 55);
    --md-sys-color-tertiary-container: rgb(97 62 85);
    --md-sys-color-tertiary-fixed: rgb(97 62 85);
    --md-sys-color-tertiary-fixed-dim: rgb(72 40 62);
}
