.light {
    --color-background: rgb(251 248 255);
    --color-error: rgb(186 26 26);
    --color-error-container: rgb(255 218 214);
    --color-inverse-on-surface: rgb(242 239 247);
    --color-inverse-primary: rgb(190 194 255);
    --color-inverse-surface: rgb(48 48 54);
    --color-on-background: rgb(27 27 33);
    --color-on-error: rgb(255 255 255);
    --color-on-error-container: rgb(147 0 10);
    --color-on-primary: rgb(255 255 255);
    --color-on-primary-container: rgb(62 66 120);
    --color-on-primary-fixed: rgb(17 20 75);
    --color-on-primary-fixed-variant: rgb(62 66 120);
    --color-on-secondary: rgb(255 255 255);
    --color-on-secondary-container: rgb(68 69 89);
    --color-on-secondary-fixed: rgb(25 26 44);
    --color-on-secondary-fixed-variant: rgb(68 69 89);
    --color-on-surface: rgb(27 27 33);
    --color-on-surface-variant: rgb(70 70 79);
    --color-on-tertiary: rgb(255 255 255);
    --color-on-tertiary-container: rgb(94 60 82);
    --color-on-tertiary-fixed: rgb(46 17 38);
    --color-on-tertiary-fixed-variant: rgb(94 60 82);
    --color-outline: rgb(119 118 128);
    --color-outline-variant: rgb(199 197 208);
    --color-primary: rgb(85 89 146);
    --color-primary-container: rgb(224 224 255);
    --color-primary-fixed: rgb(224 224 255);
    --color-primary-fixed-dim: rgb(190 194 255);
    --color-scrim: rgb(0 0 0);
    --color-secondary: rgb(92 93 114);
    --color-secondary-container: rgb(225 224 249);
    --color-secondary-fixed: rgb(225 224 249);
    --color-secondary-fixed-dim: rgb(197 196 221);
    --color-shadow: rgb(0 0 0);
    --color-surface: rgb(251 248 255);
    --color-surface-bright: rgb(251 248 255);
    --color-surface-container: rgb(240 236 244);
    --color-surface-container-high: rgb(234 231 239);
    --color-surface-container-highest: rgb(228 225 233);
    --color-surface-container-low: rgb(245 242 250);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-dim: rgb(219 217 224);
    --color-surface-tint: rgb(85 89 146);
    --color-surface-variant: rgb(228 225 236);
    --color-tertiary: rgb(120 83 107);
    --color-tertiary-container: rgb(255 216 238);
    --color-tertiary-fixed: rgb(255 216 238);
    --color-tertiary-fixed-dim: rgb(232 185 213);
}
