.light-medium-contrast {
    --md-sys-color-background: rgb(251 248 255);
    --md-sys-color-error: rgb(116 0 6);
    --md-sys-color-error-container: rgb(207 44 39);
    --md-sys-color-inverse-on-surface: rgb(242 239 247);
    --md-sys-color-inverse-primary: rgb(190 194 255);
    --md-sys-color-inverse-surface: rgb(48 48 54);
    --md-sys-color-on-background: rgb(27 27 33);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-on-error-container: rgb(255 255 255);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-on-surface: rgb(17 17 22);
    --md-sys-color-on-surface-variant: rgb(54 53 62);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-outline: rgb(82 82 91);
    --md-sys-color-outline-variant: rgb(109 108 118);
    --md-sys-color-primary: rgb(45 49 103);
    --md-sys-color-primary-container: rgb(100 104 162);
    --md-sys-color-primary-fixed: rgb(100 104 162);
    --md-sys-color-primary-fixed-dim: rgb(76 80 136);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-secondary: rgb(52 53 72);
    --md-sys-color-secondary-container: rgb(107 107 129);
    --md-sys-color-secondary-fixed: rgb(107 107 129);
    --md-sys-color-secondary-fixed-dim: rgb(82 83 104);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-surface: rgb(251 248 255);
    --md-sys-color-surface-bright: rgb(251 248 255);
    --md-sys-color-surface-container: rgb(234 231 239);
    --md-sys-color-surface-container-high: rgb(222 219 227);
    --md-sys-color-surface-container-highest: rgb(211 208 216);
    --md-sys-color-surface-container-low: rgb(245 242 250);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-dim: rgb(200 197 205);
    --md-sys-color-surface-tint: rgb(85 89 146);
    --md-sys-color-surface-variant: rgb(228 225 236);
    --md-sys-color-tertiary: rgb(76 44 65);
    --md-sys-color-tertiary-container: rgb(136 97 122);
    --md-sys-color-tertiary-fixed: rgb(136 97 122);
    --md-sys-color-tertiary-fixed-dim: rgb(110 74 97);
}
