@media screen and (max-width: 740px) {
    body {
        background-color: var(--surface-bg-color);
        overflow: hidden;
    }
    .visualizer-container {
        display: block;
    }

    #toggle-btn {
        display: block;
    }
    #canvas-container, #data-container {
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform 300ms var(--easing-jerk);
        min-width: 100lvw;
        max-width: 100lvw;
        height: 100vh;
    }


    #data-container.hidden {
        z-index: -1;
        transform: translateX(-100%);
    }

    #canvas-container.hidden {
        z-index: -1;
        transform: translateX(100%);
    }

    /*#heading {*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    border-radius: 0.5em;*/
    /*    left: 50%;*/
    /*    transform: translateX(-50%);*/
    /*    z-index: 100;*/
    /*    backdrop-filter: blur(10px);*/
    /*    padding: 1rem 2rem;*/
    /*    align-content: center;*/
    /*    width: max-content;*/
    /*    background-color: rgba(243, 243, 243, 0.1);*/
    /*}*/
    #slider {
        display: none;
    }

}
