#toolbar {
    position: absolute;
    bottom: 0;
    padding: var(--padding-sm);
    left: 0;
    display: flex;
    width: 100%;
    /*max-width: calc(100% - var(--slider-width));*/
}

#toolbar > button {
    margin-right: 0.5em;
}

#toggle-btn {
    position: fixed;
    display: none;
    top: 0.5em;
    left: 0.5em;
}

.tool-container {
    background: var(--surface-container-low-bg);
    backdrop-filter: blur(30px);
    width: 100%;
    border-radius: var(--border-radius);
}
