* {
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding: 0;
    border: none;

    color: var(--text-on-background-color);
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--surface-bg-color);
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

button {
    width: fit-content;
    height: fit-content;
    background-color: var(--primary-color);
    border-radius: 0.5em;
    color: var(--text-on-primary-color);
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    box-shadow: var(--box-shadow);
    padding: 0.9em 2em;
    font-size: 1em;
}

button:hover {
    background-color: var(--primary-color-hover);
}

canvas {
    overscroll-behavior: none;
    background-color: var(--canvas-bg-default-color);
    height: 100%;
    min-width: 300px;
    touch-action: none;
    width: inherit;
    /*display: none;*/
}


select {
    /*appearance: none;*/
    width: 100%;
    background-color: var(--overlay-color);
}

option {
    background-color: var(--overlay-color);

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1em;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.24);
    transition: background-color 200ms linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.45);
}


/* Base input style */
/*input[type="range"] {*/
/*    appearance: none;*/
/*    width: 200px;*/
/*    height: 1em;*/
/*    background: var(--primary-color);*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    border-radius: 1em;*/
/*}*/

/*input[type="range"]::-webkit-slider-runnable-track,input[type="range"]::-moz-range-track {*/
/*    background: var(--text-on-primary-color);*/
/*    border-radius: 1em;*/
/*}*/


/*input[type="range"]::-webkit-slider-thumb,input[type="range"]::-moz-range-thumb{*/
/*    height: 1em;*/
/*    width: 1em;*/
/*    background: var(--text-on-primary-color);*/
/*    border-radius: 1em;*/
/*}*/
