[theme="light"] {
    --code-background: #fff;
    --keyword-color: #028c8c;
    --string-color: #034703;
    --number-color: #022681;
    --function-color: #7a0d0d;
}

[theme="dark"] {
    --code-background: #292929;
    --keyword-color: #0ff;
    --string-color: #66bf66;
    --number-color: #5b88fa;
    --function-color: #e41616;
}


/***********************************************************************************************************************
************************************************ Code ****************************************************************
/**********************************************************************************************************************/
.code-wrapper {
    height: 100%;
}
#code-area {
    border: 1px var(--border-color) solid;
    width: 100%;
    overflow: scroll;
    height: fit-content;
}
