[theme="light"] {
    --yasl-editor-bg: rgba(255, 255, 255, 0.03);
    --yasl-row-active-bg: rgba(255, 255, 255, 0.03);
    --yasl-text-color: #a6a6a6;

    --yasl-editor-selection-color: rgba(126, 174, 253, 0.42);

    --yasl-identifier-color: #066add;
    --yasl-symbol-color: #ff0000;
    --yasl-operator-color: var(--yasl-text-color);
    --yasl-comment-color: #a3a3a3;
    --yasl-keyword-color: #8c3802;
    --yasl-whitespace-color: #fff;
    --yasl-string-color: #155102;
    --yasl-error-color: #ef4848;
    --yasl-ide-indent-color: rgba(4, 4, 4, 0.73);

    --yasl-repl-border-radius: 10px;
    --yasl-editor-font-size: 1rem;
    --yasl-caret-color: #fff;
    --yasl-loader-bg: rgb(53, 53, 53);
    --yasl-editor-line-height: 2;
}

[theme="dark"] {
    --yasl-editor-bg: rgba(255, 255, 255, 0.02);
    --yasl-row-active-bg: rgba(255, 255, 255, 0.03);
    --yasl-text-color: #a6a6a6;

    --yasl-editor-selection-color: rgba(70, 136, 255, 0.42);

    --yasl-identifier-color: #7bfbdd;
    --yasl-symbol-color: #dccaca;
    --yasl-operator-color: var(--yasl-text-color);
    --yasl-comment-color: #616161;
    --yasl-keyword-color: #e4ab85;
    --yasl-whitespace-color: rgba(255, 255, 255, 0.16);
    --yasl-string-color: #a8ff8d;
    --yasl-error-color: #ef4848;
    --yasl-ide-indent-color: rgba(255, 255, 255, 0.23);

    --yasl-repl-border-radius: 10px;
    --yasl-editor-font-size: 1rem;
    --yasl-caret-color: #fff;
    --yasl-loader-bg: rgb(53, 53, 53);
    --yasl-editor-line-height: 2;
}

/***********************************************************************************************************************
************************************************ Code ****************************************************************
/**********************************************************************************************************************/
.code-wrapper {
    height: 100%;
}

#code-area {
    border: 1px var(--border-color) solid;
    width: 100%;
    overflow: scroll;
    height: fit-content;
}


.yl-editor-wrapper{
    font-family: "JetBrains Mono", monospace;
}
.yl-editor-wrapper *  {
    font-family: "JetBrains \Mono", monospace;
}
.yl-document-wrapper{
    background-color: rgba(255, 255, 255, 0.04);
    min-height: 1em;
    height: fit-content;
    width: 100%;
}
.yl-caret{
    position:absolute;
    top:0;
    left:0;
    height:1em;
    width:1px;
    background-color: var(--yasl-caret-color);
}
.yl-document-row{
    background-color: rgba(255, 255, 255, 0.04);
    min-height: 1.2em;
    width: 100%;
    white-space: pre;
}
.yl-document-wrapper .keyword{
    color: var(--yasl-keyword-color);
}

.yl-document-wrapper .identifier{
    color: var(--yasl-identifier-color);
}
.yl-document-wrapper .string{
    color: var(--yasl-string-color);
}
.yl-document-wrapper .symbol{
    color: var(--yasl-symbol-color);
}
.yl-document-wrapper .comment{
    color: var(--yasl-comment-color);
}
.yl-document-wrapper .operator{
    color: var(--yasl-operator-color);
}

.yl-document-wrapper .whitespace{
    position: relative;
}
.yl-document-wrapper .whitespace::before{
    color: var(--yasl-whitespace-color);
    position: absolute;
    display: inline;
    content: "•";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}