:root {
    --color-accent: #2962FF; /* Blue 800 */

}

[theme="light"] {
    --node-bg-border-color: #000;
    --button-bg-default-color: #5b88fa;
    /* === NODE COLORS === */
    --canvas-bg-default-color: #ffffff;
    --edge-bg-default-color: #999999;
    --node-bg-default-color: #0057b8;
    --button-bg-highlighted-color: #e0e0e0;
    --edge-bg-highlighted-color: #ff8c00;

    --node-bg-highlighted-color: #132e80;
    --button-bg-hover-color: #c0c0c0;
    --edge-bg-hover-color: #002ada;
    --node-bg-hover-color: #c0c0c0;

    /* === EDGE COLORS === */
    --button-bg-selected-color: #d0d0d0;
    --edge-bg-selected-color: #d0d0d0;
    --node-bg-selected-color: #d0d0d0;
    --grid-color: #d6d6d8;;

    --button-fg-default-color: #333333;
    --edge-fg-default-color: #333333;
    --node-fg-default-color: #333333;
    --button-fg-highlighted-color: #222222;

    /* === BUTTON COLORS === */
    --edge-fg-highlighted-color: #222222;
    --node-fg-highlighted-color: #222222;
    --button-fg-hover-color: #000000;
    --edge-fg-hover-color: #000000;

    --node-fg-hover-color: #000000;
    --button-fg-selected-color: #111111;
    --edge-fg-selected-color: #111111;
    --node-fg-selected-color: #111111;

    /* === TEXT COLORS === */
    --text-on-background-color: #000000;
    --text-on-primary-color: #ffffff;
    --text-on-secondary-color: #000000;

}

[theme="dark"] {
    --node-bg-border-color: #002ffd;
    --button-bg-default-color: #3d73fd;
    /* === NODE COLORS === */
    --canvas-bg-default-color: #0e0e13;
    --edge-bg-default-color: #f8f8f8;
    --node-bg-default-color: #9c9c9c;
    --button-bg-highlighted-color: #3a3a3a;
    --edge-bg-highlighted-color: #708bd8;

    --node-bg-highlighted-color: #70d1ec;
    --button-bg-hover-color: #505050;
    --edge-bg-hover-color: #505050;
    --node-bg-hover-color: #505050;

    /* === EDGE COLORS === */
    --button-bg-selected-color: #444444;
    --edge-bg-selected-color: #444444;
    --node-bg-selected-color: #444444;
    --grid-color: #2c2b2c;

    --edge-fg-default-color: #e0e0e0;
    --node-fg-default-color: #e0e0e0;
    --edge-fg-highlighted-color: #f0f0f0;
    --node-fg-highlighted-color: #f0f0f0;

    /* === BUTTON COLORS === */
    --edge-fg-hover-color: #cccccc;
    --node-fg-hover-color: #cccccc;
    --edge-fg-selected-color: #ffffff;
    --node-fg-selected-color: #ffffff;

    /* === TEXT COLORS === */
    --text-on-background-color: #f5f5f5;
    --text-on-primary-color: #000000;
    --text-on-secondary-color: #dddddd;
}

