* {
    margin: 0;
    padding: 0;
    border: none;


    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--transition-speed) linear;
}

body, body:fullscreen {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color-surface-container-lowest);
    color: var(--color-on-surface);
    min-height: 100vh;
    position: absolute;
    width: 100vw;
}

button {
    background-color: var(--color-primary);
    border-radius: 0.5em;
    box-shadow: var(--box-shadow);
    color: var(--color-on-primary);
    cursor: pointer;
    font-size: 1.1em;
    /*transition: background-color 200ms ease-in-out;*/
    height: fit-content;
    padding: var(--padding-md);
    transition: filter var(--transition-speed) linear;
    width: fit-content;
}


button:hover {
    filter: brightness(1.2);
}

canvas {
    overscroll-behavior: none;
    background-color: var(--canvas-bg-default-color);
    height: 100%;
    min-width: 300px;
    touch-action: none;
    width: inherit;
    /*display: none;*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1em;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.24);
    transition: background-color 200ms linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.45);
}

input {
    outline: none;
}

.iconify {
    display: inline-block;
    width: 1em;
    height: 1em;
}

/* Base input style */
/*input[type="range"] {*/
/*    appearance: none;*/
/*    width: 200px;*/
/*    height: 1em;*/
/*    background: var(--primary-color);*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    border-radius: 1em;*/
/*}*/

/*input[type="range"]::-webkit-slider-runnable-track,input[type="range"]::-moz-range-track {*/
/*    background: var(--text-on-primary-color);*/
/*    border-radius: 1em;*/
/*}*/


/*input[type="range"]::-webkit-slider-thumb,input[type="range"]::-moz-range-thumb{*/
/*    height: 1em;*/
/*    width: 1em;*/
/*    background: var(--text-on-primary-color);*/
/*    border-radius: 1em;*/
/*}*/
